body{
    margin:0 auto;
}
.main-container{

    max-width: 675px;;
}

header{
    background-image:url("https://static.ghost.org/v1.0.0/images/blog-cover.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    height:360px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-icons{
    display:flex;
    /* border: 2px solid green; */
    justify-content: space-between;
    position: relative;
    float:top;
}
.page-heading-content{
    position: relative;
    
}
.s-icons,.logo-icons{
        margin:1em 0.5em 1em 0.5em;
        padding:0;
}
.s-icons{
    height: 20px;
    /* border: 2px solid white; */
    
    
}
.logo-icons{
    height:25px;  
}

.page-heading,.page-heading-tagline{
    color:white;
    text-align: center;
}
.page-heading{
margin-bottom:0;
}
.page-heading-tagline{
  margin-top:0.25em;
    padding-top:0;
    font-size:25px;
    color:#aaa;
}
nav{
    color:#aaa;
}
nav>ul{
    display:flex;
    padding:0.5em;
    justify-content: space-between;
    
}
nav>ul>div{
    display:flex;
}
nav>ul>div>li{
    padding:1em;
    list-style-type: none;
}
nav>ul>div>li>a{
    color:#aaa;
    text-decoration: none;;
}
nav>ul>div>li>a:hover{
    color:white;
}
.link-btn-design{
    border:1px solid #aaa;
    margin-top:0;
    margin-bottom:0;
    padding:0.25em 0.5em 0.25em 0.5em;
    border-radius:0.5em;
    font-size:15px;
}
 main{
     padding:0.75em 0em 0.75em 0;
    
 }
 
 .post-container{
     display:flex;     
     flex-direction: column;
     flex-wrap:wrap;
    
 }
 .post{
    padding:0.5em; 
   
 }
.post-image{
  width:100%;
  height:auto;
  
}
.started-label{
color:rgb(92, 92, 92);;
margin-bottom:0;
padding-bottom:0;
}
.post>h3{
padding-top:0;
margin-top:0.25em;
}
.post-description{
    width: inherit;
}
.post-ghost-icon-readtime{
    display:flex;
    justify-content: space-between;
    color:rgb(92, 92, 92);
    font-weight:100;
}
.ghost-icon{
    height:25px;
    border-radius:50%;
}
.logo-ghost-label{
    display:flex;
   
}
.ghost-label,.post-reading-time{
    padding-left:0.5em;
   
}

footer{
    background-color: black;
    color:#aaa;
    padding:2em;
    
}
.footer-content{
    display:flex;
    justify-content: space-between;
    /* border:1px solid white; */
}

.footer-nav-links{
    display:flex;
}
.footer-nav-links>li{
    display:flex;
    list-style-type: none;
    padding:0 0.5em 0 0.5em;
    
}

@media (min-width:676px){
 .main-container{     
    min-width:1020px;
    margin:0 auto;
 }
 
 .post-container{      
    flex-direction: row;
    flex-wrap:wrap;   
    justify-content: flex-start;
    
 }
 .post{
     width:320px;
     height:450px;
     display:flex;
     flex-direction:column;
     
 }

 .post-description{
     flex-grow: 1;
     /* border: 2px solid green; */
 }
 .first-post>h3{
     margin-top:3em;
 }
}
