

ul{
    display: flex;
    background-color:rgb(243, 249, 250);
    flex-wrap: wrap;
}
ul>li{
    
    padding:0.25em;
    list-style-type: none;
    margin:0.75em;
}
ul>li>a{
    text-decoration: none;
    font-size: large;
    color:white;
    background-color:rgb(42, 213, 243); 
    padding:0.5em;
    border-radius: 1em;;
}
/*
my css
 .row{
    display:flex;
    height:800px;
    align-items:center;
}

.card{
    display:flex;
    flex-direction:column;
    padding:1rem;
    margin: 1rem;
    border: 2px solid black;

}

.card+.bottom{
align-self:flex-end;
} */
.row {
    display: flex;
    flex-wrap: wrap;
    /* height: 800px; */
    /* align-items: center; */
}

.card {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    max-width: 200px;
}

.card > p {
    flex-grow: 1;
}

.card + .bottom {
    align-self: flex-end;
}