

ul{
    display: flex;
    background-color:rgb(20, 222, 248);
    flex-wrap: wrap;
}
ul>li{
    
    padding:0.5em;
    list-style-type: none;
margin:0.5em;
}
ul>li>a{
    text-decoration: none;
    font-size: large;
    color:white;
    background-color:rgb(39, 7, 153); 
    padding:0.5em;
    border-radius: 1em;;
}