
.main-container{
    padding:1em;
    border:2px solid black;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
display: flex;
font-size: xxx-large;
font-weight: 700;

}

.superscript{
    position:relative;
    font-size:large;
    bottom:4em;
}

.notification{
   
    border: 1px solid black;
}

.notification>p{
    font-weight: 700;
    padding:0.25rem;
    font-size: larger;
    text-align: center;
}