
ul{
    display: flex;
    background-color:rgb(243, 249, 250);
    flex-wrap: wrap;
}
ul>li{
    
    padding:0.25em;
    list-style-type: none;
    margin:0.75em;
}
ul>li>a{
    text-decoration: none;
    font-size: large;
    color:white;
    background-color:rgb(42, 213, 243); 
    padding:0.5em;
    border-radius: 1em;;
}