
.main-container{
   border:2px solid blue;
    display: flex;
    align-items:center;
    height:500px;
}

.child-container{
   border: 2px solid black;
}

.third-child{
    
    align-self:flex-end;
}